#username{ padding: 15px;


}
.form{
    
     margin-left: 60% ;
     margin-top: 150px;

}
input{
    padding: 15px;
    width: 300px;
}
button{
    background-color: green;
    margin-left: 120px;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 8px;
}
body{
    background-image: url( background.jpg);
    background-size: cover;
}

h1{
margin-left: 100px;
}
.connexion, a{
    margin-left: 70px;
    color : white;
    text-decoration: none ;
    font-size:25px ;
}
#conn{
    margin-left: 80px;
}
p{
    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: justify;
 margin-top: -400px;
 padding: 80px;
}